.sideBar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #766876;
  border-radius: 10px;
  // height: 260px;
  margin: 0 20px;
  a {
    cursor: pointer;
    font-weight: 600;
    background-color: initial;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 10px 20px;
    text-align: center;
    transition: 0.2s;
    &:not(:last-child):hover {
      color: #494040;
    }
    &:last-child:hover {
      color: #850707;
    }
  }
  hr {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 15px;
  }
}
